*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading{
  font-weight: 900;
  letter-spacing: 0.2rem;
  font-size: 80px;
}

.main{
  background-color: #272b33;
  padding: 60px 0;
}

.box{
  background-color: #3c3e44;
  border-radius: 10px;
  margin: 12px 0;
}

.box .image{
  width: 40%;
}

.image img{
  width: 100%;
  /* object-fit: cover; */
  border-radius: 10px 0 0 10px;
}

.info{
  color: #fff;
  padding-left: 12px;
  margin: 12px 0;
}

.name{
  margin-bottom: 12px;
}

.name h2{
  margin: 0;
  
}

.status_icon{
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 0.375rem;
  background-color: rgb(158 ,158 ,158);
  border-radius: 50%;
}

.info-2{
  color: rgb(158, 158, 158);
  font-weight: 500;
  margin: 12px 0;
  padding: 0;
}
.info-2 p{
  margin: 0;
  padding: 0;
}

.info-2 span{
  color: #fff;
  font-size: 20px;
}

.info-3 p{
  color: rgb(158, 158, 158);
}